<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IntegrationTestDatabase" connectionString="Data Source=DESKTOP-NA9A7AC;Initial Catalog=Blog.IntegrationTests;User id=DESKTOP-NA9A7AC\\Rafal;Integrated Security=True;" />
  </connectionStrings>
</configuration>