@model Blog.Core.Models.Post

Title: @Model.Title
Created on @Model.CreateDate
<img class="author-summary__thumbnail" src="~/images/avatar.jpg">

<div class="container">
    @Html.Raw(@Model.Details.Content)
</div>