<div class="container">
    <div class="row">
        <div class="col-12">
            <section class="page">
                <div class="search-box">
                    <h3 class="search-box__title">Search result</h3>
                    <div class="search-box__wrapper">
                        <input class="search-box__input" type="text" placeholder="What would you like to find?" />
                        <button class="search-box__button">Search</button>
                    </div>
                </div>
                <section class="summary__item">
                    <a href="/"></a>
                    <h3 class="summary__date">03<br />2018</h3>
                    <div class="summary__thumbnail">
                        <img src="~/images/pic2_thumbnail.jpg" />
                    </div>
                    <h2 class="summary__headline">
                        True colors of working as a full stack developer - practical advices
                    </h2>
                    <div class="author-summary">
                        <div class="author-summary__item">
                            <img class="author-summary__thumbnail" src="~/images/avatar.jpg" />
                        </div>
                        <div class="author-summary__item">
                            <div class="author-summary__name">Rafał Szopa</div>
                            <div class="author-summary__date">2017 Oct 24</div>
                        </div>
                        <div class="author-summary__item">
                            <a class="follow-button" href="/">Follow</a>
                        </div>
                    </div>
                </section>

                <!-- Testing items -->

                <section class="summary__item">
                    <div class="summary__thumbnail">
                        <img src="~/images/pic_thumbnail.jpg" />
                    </div>
                    <h2 class="summary__headline">
                        Let me ask you a question. How much do you know about what happens under the hood?
                    </h2>
                    <div class="author-summary">
                        <div class="author-summary__item">
                            <img class="author-summary__thumbnail" src="~/images/avatar.jpg" />
                        </div>
                        <div class="author-summary__item">
                            <div class="author-summary__name">Rafał Szopa</div>
                            <div class="author-summary__date">2017 Oct 24</div>
                        </div>
                        <div class="author-summary__item">
                            <a class="follow-button" href="/">Follow</a>
                        </div>
                    </div>
                </section>
                <section class="summary__item">
                    <div class="summary__thumbnail">
                        <img src="~/images/pic_thumbnail.jpg" />
                    </div>
                    <h2 class="summary__headline">
                        Let me ask you a question. How much do you know about what happens under the hood?
                    </h2>
                    <div class="author-summary">
                        <div class="author-summary__item">
                            <img class="author-summary__thumbnail" src="~/images/avatar.jpg" />
                        </div>
                        <div class="author-summary__item">
                            <div class="author-summary__name">Rafał Szopa</div>
                            <div class="author-summary__date">2017 Oct 24</div>
                        </div>
                        <div class="author-summary__item">
                            <a class="follow-button" href="/">Follow</a>
                        </div>
                    </div>
                </section>
                <section class="summary__item">
                    <div class="summary__thumbnail">
                        <img src="~/images/pic_thumbnail.jpg" />
                    </div>
                    <h2 class="summary__headline">
                        True colors of working as a full stack developer - practical advices
                    </h2>
                    <div class="author-summary">
                        <div class="author-summary__item">
                            <img class="author-summary__thumbnail" src="~/images/avatar.jpg" />
                        </div>
                        <div class="author-summary__item">
                            <div class="author-summary__name">Rafał Szopa</div>
                            <div class="author-summary__date">2017 Oct 24</div>
                        </div>
                        <div class="author-summary__item">
                            <a class="follow-button" href="/">Follow</a>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>