<article class="page-wrapper">
    <div class="article__container">
        <h1 class="article__title">
            Let me ask you a question. How much do you know about what happens under the hood?
        </h1>
        <p class="article__description">
            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet
            nisi. Proin condimentum fermentum nunc.
        </p>
        <div class="article__image" style="background: url('../images/pic.jpg')"></div>
        <p class="article__paragraph">
            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet
            nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas
            quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
        </p>
        <p class="article__paragraph">
            Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt
            auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>

    </div>
</article>