@using Blog.API.HtmlHelpers;

@{ ViewData["Title"] = "Home Page"; }

@*@if (Html.IsDebugMode())
{
    <h1>Debug mode</h1>
}
else
{
    <h1>Production mode</h1>
}*@
<div id="app"></div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
